.container {
  height: 100vh;
  background-color: #e1e9ec;
  background-image: url("./Assets/Images/remove-bg.png");
  background-repeat: no-repeat;
  background-position: center 4em;
  background-size: contain;
  position: relative;
  padding: 0 3vw;
}
p#contact_number {
  float: right;
}
h1 {
  font-weight: lighter;
  font-family: "Cormorant", serif;
  font-size: 4.5em;
}
h1#main_text {
  position: absolute;
  line-height: 0.95em;
  bottom: 10vh;
}
.video__new-collection {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.video__new-collection span {
  height: 25px;
  width: 25px;
  padding: 2px;
  background-color: #808080;
  border: 10px solid #c8c8c8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease 500s;
}
.video__new-collection span:hover {
  transition: all ease 500ms;
  border: 11px solid #c8c8c8;
}
.video__new-collection span + p {
  margin-left: 20px;
}
